* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

#title {
  padding-top: 2em;
  color: rgb(78, 78, 78);
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 5px;
}

#container {
  margin: 0 auto 0;
  width: 400px;
  height: 500px;
  border: none;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid rgb(146, 146, 146);
  width: 23px;
  height: 23px;
}

#new {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 0.7em;
  text-align: center;
}

#new:hover {
  color: rgb(121, 121, 121);
}

#new:focus {
  outline: 0;
}
